<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="cn.com.notice">

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/home_notice"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.NoticeWelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登陆界面-->
        <activity
            android:name=".activity.LoginNoticeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--通告列表界面-->
        <activity
            android:name=".activity.NoticeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--通告详情界面-->
        <activity
            android:name=".activity.NoticeDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--忘记密码界面-->
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--编辑人员信息界面-->
        <activity
            android:name=".activity.EditorUserActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--图片展示页面-->
        <activity
            android:name="com.linked.erfli.library.ShowZoomPhotoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>
