<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.parkguard">


    <application
        android:name="com.linked.erfli.library.application.LibApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 阿里推送请填写你自己的- appKey -->
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="23660312" />
        <!-- 阿里推送请填写你自己的appSecret -->
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="43d570224c4e55b7c688f676ab2688bb" />
        <!--百度地图的服务-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"/>
            </intent-filter>
        </service>
        <!--百度地图的key-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="R5NfubqW27aZaD9krgMf3UpIE67ES9GY" />

        <!--高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b54763bb78b3363272cffc158296cd5a" />

        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.linked.erfli.library.service.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.github.mzule.activityrouter.router.RouterActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/jump_scheme" />
            </intent-filter>
        </activity>
        <!--登陆界面-->
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--主界面-->
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--忘记密码界面-->
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--完善自己资料的界面-->
        <activity
            android:name=".activity.EditorUserActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--设置界面-->
        <activity
            android:name=".activity.SettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--设置界面-->
        <activity
            android:name=".activity.UpdatePasswordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--高德地图的服务-->
        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>