<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="cn.com.watchman">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!--高德地图-->
        <!--<meta-data-->
        <!--android:name="com.amap.api.v2.apikey"-->
        <!--android:value="502e5833623fe1a3ddf0e3b9d988ba8f" />-->
        <!--登陆界面-->
        <activity
            android:name=".activity.WatchManLoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--完善信息界面-->
        <activity
            android:name=".activity.WatchManEditorUserActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--主界面-->
        <activity
            android:name=".activity.WatchMainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--事件上报界面-->
        <activity
            android:name=".activity.EventReportActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--巡更统计界面-->
        <activity
            android:name=".activity.WatchManStatisticsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--扫一扫界面-->
        <activity
            android:name=".activity.WatchManQRcodeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--扫一扫界面-->
        <activity
            android:name=".activity.QRcodeShowActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--地图界面-->
        <activity
            android:name=".activity.WatchManLocationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--地图轨迹设计界面-->
        <activity
            android:name=".activity.RecordShowActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RecordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LocationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--地图轨迹平滑移动界面-->
        <activity
            android:name=".activity.MarkerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--gps后台服务-->
        <service android:name=".service.GPSService" />
        <!--高德地图的服务-->
        <!--<service android:name="com.amap.api.location.APSService" />-->
        <!--高德地图的后台收集轨迹的服务-->
        <service android:name=".service.RecordService" />

        <receiver
            android:name=".utils.NotificationReceiver"
            android:process=":push" />
        <receiver android:name=".activity.WatchMainActivity$CountReceiver" />

        <!--chat 聊天页面-->
        <activity
            android:name=".chatui.ChatMainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <!--chat 预警页面-->
        <activity
            android:name=".chatui.ChatWarningActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--chat 输入地址页面-->
        <activity
            android:name=".chatui.ChatInputAddressActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--chat 告警详情页面-->
        <activity
            android:name=".chatui.WarningDetailsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--图片展示页面-->
        <activity
            android:name=".chatui.FullImageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <receiver android:name=".chatui.ChatMainActivity$MyChatBroadcasReceiver" />
        <service
            android:name=".chatui.service.MyScoketService"
            android:process=":main" />
        <!--高德地图定位的服务-->
    </application>

</manifest>
