<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="cn.com.watchman">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".WatchManActivity"
            android:theme="@style/AppTheme">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WatchManLoginActivity" />
        <activity android:name=".WatchManWelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WatchManEditorUserActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
