<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.com.watchman">

    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name="com.linked.erfli.library.application.LibApplication"
        android:allowBackup="true"
        android:icon="@mipmap/watch_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>
        <!--百度地图-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="IGE9YdZYFOka4zutunPI3ojuVAUMrqBb" />

        <!--高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f19bcf2c0b2327c7176a08cff8783d57" />

        <receiver android:name="com.linked.erfli.library.service.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".chatui.ChatMainActivity$MyChatBroadcasReceiver" />

        <service
            android:name=".chatui.service.MyScoketService"
            android:process=":main" />

        <receiver
            android:name=".utils.NotificationReceiver"
            android:process=":push" />

        <receiver android:name=".activity.WatchMainActivity$CountReceiver">
            <intent-filter android:priority="2147483647"><!--优先级加最高-->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听情景切换 -->
                <action android:name="android.media.RINGER_MODE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.WatchManWelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--登陆界面-->
        <activity
            android:name=".activity.WatchManLoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--完善信息界面-->
        <activity
            android:name=".activity.WatchManEditorUserActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--事件上报界面-->
        <activity
            android:name=".activity.EventReportActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--巡更统计界面-->
        <activity
            android:name=".activity.WatchManStatisticsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--扫一扫界面-->
        <activity
            android:name=".activity.WatchManQRcodeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--扫一扫结果界面-->
        <activity
            android:name=".activity.QRcodeShowActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--地图界面-->
        <activity
            android:name=".activity.WatchManLocationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--实现轨迹回放、纠偏后轨迹回放界面-->
        <activity
            android:name=".activity.RecordShowActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--轨迹列表的界面-->
        <activity
            android:name=".activity.RecordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--高德地图界面-->
        <activity
            android:name=".activity.LocationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--地图轨迹平滑移动界面-->
        <activity
            android:name=".activity.MarkerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--gps后台服务-->
        <service
            android:name=".service.GPSService"
            android:exported="false">
            <intent-filter android:priority="1000"></intent-filter>
        </service>
        <service android:name=".service.GPSService" />
        <!--高德地图的服务-->
        <service android:name="com.amap.api.location.APSService" />
        <!--高德地图的后台收集轨迹的服务-->
        <service android:name=".service.RecordService" />


        <!--chat 聊天页面-->
        <activity
            android:name=".chatui.ChatMainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--chat 预警页面-->
        <activity
            android:name=".chatui.ChatWarningActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--chat 输入地址页面-->
        <activity
            android:name=".chatui.ChatInputAddressActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--chat 告警详情页面-->
        <activity
            android:name=".chatui.WarningDetailsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <!--图片展示页面-->
        <activity
            android:name=".chatui.FullImageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!--高德地图定位的服务-->
        <service android:name=".service.LocationGDService" />
    </application>

</manifest>
